@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
body{
  background:#0c2a52;
  font-family: 'Arimo', sans-serif;
}
a{
  color: white;
  font-size:2em;
}
#header{
  text-align: center;
}